*{margin: 0; padding: 0;}
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}
.jumbotron { 
	background-color: #59BBA6;
	color: #ffffff;
	font-family: Montserrat, sans-serif;
}
.bg-grey {
	background-color: #f6f6f6;
}
.container-fluid {
	padding: 5%;
}


@media screen and (max-device-width: 760px) {
	.navbar , .navbar-header, .container, .jumbotron{ width:100%; }
	.logoem{ 
		display: none;
	}
}


.logo-small {
	color: #59BBA6;
	font-size: 50px;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
	color: #59BBA6;
}
.carousel-indicators li {
	border-color: #59BBA6;
}
.carousel-indicators li.active {
	background-color: #59BBA6;
}
.item h4 {
	font-size: 19px;
	margin: 5%;
}
.item img{
	margin-left: 25%;
	width: 50%;
}
.navbar {
    margin-bottom: 0;
    background-color: #59BBA6;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    letter-spacing: 4px;
    border-radius: 0;
	font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #59BBA6 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    color: #59BBA6;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 3%;
}

h4 {
    font-size: 20px;
    color: #303030;
    margin-bottom: 3%;
}
p{
	font-size: 19px;
}
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.logoem{ 
	max-width: 100%; 
	margin: 3%;
}
.container1 img { 
	max-width: 30px; 
}
